/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
	--color-primary: #0d4663;
	--color-secondary: #135492;
	--color-accent: #ff9a88;

	--color-black: #111;
	--color-white: #f5f5f5;

	--font-sans: "Inter";

	--nav-height: 64px;
}

body {
	font-family: var(--font-sans), serif;
	background-color: cyan;
}


.container {
	background-color: var(--color-accent);
	width: 100%;
	min-height: 100dvh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	align-content: center;
	gap: 10rem;
	padding-top: 2rem;


}


.card-item {
	display: flex;
}

/* .card-body {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
	padding: 0;
	background-color: #F8FFF8;
	border-radius: 3px;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
} */

.card-body {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 350px;
	padding: 10px;
	background-color: blue;
	border-radius: 20px;
	box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);

}

/* .card-body p {
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: auto;
} */

.card-img {
	width: 	100%;
	border-radius: 20px;
	border-radius: 3px 3px 0 0;
}

.card-img:hover {
	transform: scale(1.2);
}
.card-title{
	text-align: center;
}
.btn{
	margin: 1rem;
	padding: .75rem 1.25rem;
	letter-spacing: .05rem;
	text-shadow: 0 1px 0 rgba(77,77,77,.5);
	background: #1E90FF;
	border-radius: .25rem;
	box-shadow: 0 0 1px 1px rgba(77,77,77,.5);
	color: floralwhite;
	cursor: pointer;
	transition: .5s;
	text-align: center;


}
.btn:hover {
	background: #ADD8E6;
	color: #333;
}
